*{
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('singularity.gif') 100% fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}

a{
  color: white;
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
#wrapper-div{
    width: 80%;
    margin:auto;

}
#img-div{
    width:100px; 
    height: 100px;
}

#bhlogo-div{
    margin-top: 10px;
    width: 150px;
    max-width: 500px;
    padding-left: 5%;
    float: left;
    margin-bottom: 1%;
}

#nav-div{
    width: 110%;
    min-height: 100px;
    background-color: transparent;
    text-align: center;
    line-height: 130px;
    color: white; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
     font-weight: 400;
    font-style: normal;
}

#headerbanner-div{
    height: auto;
    width: auto;
    min-width: 100px;
    min-height: 100px;
    background-color: black;
    text-align: center;
    line-height: 80px; 
}

#main-div{
    width: 100%;

}

#sidebar-div{
    width: 14%;
    min-height: 400px;
    background-color: transparent;
    text-align: center;
    line-height: 35px;
    float: left;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30%;
}



#profile-div{
    display: block;
    border-radius: 50%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 500px;
    max-height: 500px;
}

#bodyarea-div{
    font-weight: 600;
    width: 75%;
    min-height: 400px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    float: right;
    color: white;
    font-family: "Montserrat", sans-serif;
    
}

h1{
    font-weight: 700;
}

p{
    font-size: 1.1rem;
    font-weight: 400;
}

#main-div{
    width: 100%;
    
}


#main-div .box{
    width: 20%;
    min-height: 300px;
    float: left;
    margin-left: 5%;
    text-align: center;    
}

.box img{
    border-radius: 15%;
}

#main-div .box:nth-child(7){
    margin-left: 27%;
}

#main-div .box:nth-child(4){
    margin-left: 15%;
}


#bodyarea-div{
    width: 75%;
    min-height: 50px;
    background-color: #f5f5f5;
    text-align: center;
    line-height: 50px;
    float: right;
}

#footer-div{
    width: 100%;
    min-height: 50px;
    background-color: transparent;
    text-align: center;
    line-height: 35px;
    font-family: "Montserrat", sans-serif; 
}
 
#bhlogofoot-div{
    display: flex;
    position: sticky;
    width: 4%;
    margin-left: 48%;
}